<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <!--Title of add expenditure page-->
    <h1>Expense Tracker</h1>

    <!--form for input expenditure by user-->
    <form method="POST" action="/add" onsubmit="return validateExpenseForm()">
      Expenses Name:
        <input type="text" name="title" placeholder="Expense name" required>
        <br>
        Amount:
        <input type="number" step="1.0" name="amount" placeholder="Amount" required>
        <br>
        Description:
        <input type="text" name="description" placeholder="Like:Food,Clothes,Travel,etc" >
        <br>
        Date:
        <input type="date" name="date" placeholder="Date" required>
        <br>
        <!--category for filtering-->
        <label>Category</label>
            <select name="category" required>
              <option value="">Select Category</option>
              <option value="Food">Food</option>
              <option value="Travel">Travel</option>
              <option value="Bills">Bills</option>
              <option value="Shopping">Shopping</option>
              <option value="Other">Other</option>
            </select>
<br>
        <button type="submit" class="back">Add Expense</button>
    </form>

    <!--message of successfull added expense-->
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li style="color: green;">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <!--back to index page button-->
    <a href="/" >Back to Home</a>
    <!--copyright logo-->
    <div class="footer">
    © 2025 Personal Expense Tracker
    </div>

</body>
</html>
