<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/static/edit.css">
</head>
<body>
    <h1>Edit Expense</h1>

<form method="POST" class="edit">
    Expense Title:
    <input type="text" name="title" value="{{ expense.title }}" required><br><br>
    Amount:
    <input type="number" step="0.01" name="amount" value="{{ expense.amount }}" required><br><br>
    Date:
    <input type="date" name="date" value="{{ expense.date }}" required><br><br>
    Description:
    <textarea name="description" class="description" cols="30">{{ expense.description }}</textarea><br><br>

    <button type="submit" class="update">Update Expense</button>
</form>
<div class="footer">
    © 2025 Personal Expense Tracker
</div>


<br>
<a href="/view">⬅ Back to View All Expenses</a>
</body>
</html>