<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Personal Expense Tracker</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <!--title of index page-->
    <h1>
        Your Personal Expense Tracker
    </h1>
    <!--subtitle-->
    <p>Track your daily spending and manage your money smartly.</p>
    <nav>
        <!--button of another pages-->
    <a href="/add" class="addex">Add Expense</a>        &nbsp;          &nbsp;<!--add expenditure button-->
    <a href="/view" class="viewall">View All Expense</a>&nbsp;          &nbsp;<!--view all expenditure button-->
    <a href="/total" class="totalex">Total Expenditure</a>&nbsp;          &nbsp;<!--total expenditure button-->
    </nav>
    <!--footer for copyright symbol-->
    <div class="footer">
        <footer>
    © 2025 Personal Expense Tracker
    </footer>
    </div>
</body>
</html>