<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Expenditure</title>
    <link rel="stylesheet" href="/static/total.css">
</head>
<body>
    <!--title of page-->
    <h1>Total Expenditure</h1>
    
    <!--amount of total expenditure store by user-->
    <h2>₹ {{ total }}</h2>

    <!--back to home button-->
    <a href="/">⬅ Back to Home</a>

    <!--div for footer for copyright logo-->
    <div class="footer">
        © 2025 Personal Expense Tracker
    </div>
</body>
</html>