/*overall page desgin*/
body{
    background-color: rgb(238, 208, 172);
    text-align: center;
}

/*title desgining on index page*/
h1{
    text-align: center;
    /* margin creates extra space around an element.*/
    margin-top: 120px;
    margin-bottom: 150px;
    padding: 30px;               /*Padding creates extra space within an element*/
    color: rgb(112, 32, 32);
    border-radius: 16px;    
    font-size: 50px;
}

/*desgin for p tag which Gives a message about what a wesite is */
p{
    padding: 30px;
    color: rgb(99, 66, 66);
    border-radius: 16px;
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 10px;
}

/*desgin for add expenditure button*/
.addex{
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    transition: background 0.3s ease;
    margin: 0 230px;
    background-color: #e6a0c4;  /* Pink background */
    color: rgb(121, 14, 14);
    border-radius: 12px;          /* Rounded corners */
    text-decoration: none; 
}
/*hover for add expenditure button*/
.addex:hover{
    background-color: cornsilk;
}

/*design for view all button*/
.viewall{
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    transition: background 0.3s ease;
    margin: 0 230px;
    background-color: #e6a0c4;  /* Pink background */
    color: rgb(121, 14, 14);
    border-radius: 12px;          /* Rounded corners */
    text-decoration: none; 
}
/*hover on view all button and change color*/
.viewall:hover{
    background-color: cornsilk;
}

/*desgin for total expenditure button*/
.totalex{
    text-align: center;
    display: inline-block;             
    padding: 10px 20px;
    font-size: 22px;
    /*When you hover over the button, the background color changes smoothly from display color to hover color in 0.3 seconds.*/
    transition: background 0.3s ease;
    margin: 0 230px;
    background-color: #e6a0c4;  /* Pink background */
    color: rgb(121, 14, 14);
    border-radius: 12px;          /* Rounded corners */
    text-decoration: none;          /*removing underline from a tag */
}

/*hover on total expenditure button and changes color of button*/
.totalex:hover{
    background-color: cornsilk;
}

/*the copyright logo design at bottom of page*/
.footer {
    margin-top: 400px;
    color: #555;
    font-size: 14px;
    text-align: center;
}
