h1{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 150px;
    padding: 30px;
    color: rgb(112, 32, 32);
    border-radius: 16px;
    margin-bottom: 40px;
    font-size: 50px;
}
.totalex{
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    transition: background 0.3s ease;
    margin: 0 230px;
    background-color: #e6a0c4;  /* Pink background */
    color: rgb(121, 14, 14);
    border-radius: 12px;          /* Rounded corners */
    text-decoration: none; 
}
.totalex:hover{
    background-color: cornsilk;
}
.viewall{
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    transition: background 0.3s ease;
    margin: 0 230px;
    background-color: #e6a0c4;  /* Pink background */
    color: rgb(121, 14, 14);
    border-radius: 12px;          /* Rounded corners */
    text-decoration: none; 
}
.viewall:hover{
    background-color: cornsilk;
}
.addex{
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 22px;
    transition: background 0.3s ease;
    margin: 0 230px;
    background-color: #e6a0c4;  /* Pink background */
    color: rgb(121, 14, 14);
    border-radius: 12px;          /* Rounded corners */
    text-decoration: none; 
}
p{
    padding: 30px;
    
    color: rgb(99, 66, 66);
    border-radius: 16px;
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 10px;
}
.addex:hover{
    background-color: cornsilk;
}
body{
    background-color: rgb(238, 208, 172);
    text-align: center;
}
.footer {
    margin-top: 400px;
    color: #555;
    font-size: 14px;
    text-align: center;
}
