/*overall page design */
body {
    font-family: cursive;      /*change the writing style of whole page*/
    font-size: 30px;
    background-color: #b6aaaa;
    padding: 20px;
    text-align: center;

}

/*design for title*/
h1 {
    color: #2666bb;
    text-align: center;
    margin-bottom: 80px;
}

/*design for forms input button*/
input, button {
    padding: 8px;
    margin: 15px;
    box-sizing: content-box;
    font-size: 19px;
    border-radius: 12px;          /* Rounded corners */
    background-color: #b3c1e7;  /* background */
} 

/*design for category button as we have created category using select*/
select {
    padding: 8px;
    margin: 15px;
    box-sizing: content-box;
    font-size: 19px;
    border-radius: 12px;          /* Rounded corners */
    background-color: #b3c1e7;  /* background */
}

/*add expense button design*/
.back{
    margin-bottom: 200px;
    box-sizing: content-box;
    font-size: 25px;
    cursor:pointer;
    
}
/*hover for add expense button*/
.back:hover{
    background-color: rgb(13, 62, 82);
    
}
/*copyright logo*/
.footer {
    margin-top: 40px;
    color: #555;
    font-size: 14px;
}
