/*overall page*/
body{
    background-color: rgb(248, 236, 218);
    text-align: center;
}
/*for outer div*/
.summary-container {
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
}

/*title of page*/
h1{
    color:rgb(105, 33, 33);
    font-size: 60px;
    font-family: cursive;
    text-decoration:underline;
    text-decoration-color: rgb(75, 162, 165);
    margin-bottom: 60px;
    margin-top:70px;
}

/*monthly and yearly title of card*/
h2{
    color:crimson;
    font-size: 45px;
    margin-top: 35px;
    margin-bottom: 10px;
}

/*amount of expenditure*/
p{
    color:rgb(37, 63, 112);
    font-size: 30px;
    font-weight: 600;
    font-weight: bold;
    margin: 0;
}

/*card of total and yearly expenditure*/
.card {
    background: #d6d9db;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(32, 30, 30, 0.1);
    margin-bottom: 25px;
}

/*hover on card*/
.card:hover{
    /*Lift the element slightly upwards.*/
    transform: translateY(-5px);    
}

/*for view all and add expense button*/
a{
    text-decoration: none;
    font-size: 35px;
    padding: 8px;
    margin: 15px;
    box-sizing: content-box;
    transition: background 0.3s ease;
    border-radius: 12px;
    cursor:pointer;
}
/*hover on buttons*/
a:hover{
    background-color: rgb(163, 116, 211);
}

/*copyright logo*/
.footer {
    margin-top: 40px;
    color: #555;
    font-size: 14px;
}
