h1{
    color:rgb(65, 15, 70);
    font-size: 70px;
    margin-top: 60px;
    margin-bottom: 60px;
}
h2{
    color:rgb(116, 31, 80);
    font-size: 50px;
    margin-bottom: 350px;
}
a{
    text-decoration:none ;
    font: 600;
    font-size:50px ;
    
}
body{
    background-color: rgb(199, 197, 197);
    text-align: center;
}
.footer {
    margin-top: 40px;
    color: #555;
    font-size: 14px;
}
