/*overall page design*/
body{
     background-color: rgb(166, 218, 200);
     text-align: center;
}

/*title of page*/
h1{
   color:rgb(29, 93, 145);
   font-size: 50px;
   margin-top: 45px;
   margin-bottom: 70px;
}

/*sorting heading*/
h2{
    color: rgb(109, 49, 6);
}

/*div of sorting*/
.sort-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.sort-container span {
    font-weight: bold;
    margin-right: 10px;
}

/*sorting button*/
.sort-btn {
    padding: 8px 14px;
    border: 1px solid #2c3e50;
    background-color: white;
    color: #2c3e50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.sort-btn:hover {
    background-color: #2c3e50;
    color: white;
}

.sort-btn.active {
    background-color: #2c3e50;
    color: white;
}

/* Search container */
.search-container {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}

.search-container h2 {
  color: #333;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.search-container input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

.search-container input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.3);
  outline: none;
}

/*budget alert*/

.budget-container {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.budget-container input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 60%;
}

.budget-container button {
  padding: 8px 12px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s;
}

.budget-container button:hover {
  background-color: #0056b3;
}

#budgetAlert {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.hidden {
  display: none;
}

/*category filter*/
form {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
     justify-content: center;
}

button {
    padding: 8px 14px;
    border: 1px solid #2c3e50;
    background-color: white;
    color: #2c3e50;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
    text-decoration: none;
    text-align: center;
   
}

button:hover {
    background: #704552;
}

/*table in view all page*/
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #eaf2f8;
}

/*delete and edit button in action*/
.btn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.btn-delete:hover{
    background-color: #2c3e50;
    opacity: 0.8;
}
.btn-edit {
    background-color: #3498db;
    color: white;
}

.btn:hover {
    opacity: 0.8;
    background-color: black;
}
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 14px;
    }
}

/*buttons*/
a{
    text-decoration: none;
}
a:hover{
    background-color: cornsilk;
}

/*summary button*/
.summaryto{
    background-color: #34495e;
    color: white;
    font-size: 25px;
    padding: 8px;
    margin: 15px;
    box-sizing: content-box;
    transition: background 0.3s ease;
    border-radius: 12px;
    cursor:pointer;
}
.summaryto:hover{
    background-color: cornflowerblue;
}

/*back to home button*/
.buttonsback{
    gap:25px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.backhome{
    background-color: #34495e;
    color: white;
    font-size: 25px;
    
    padding: 8px;
    margin: 15px;
    box-sizing: content-box;
    transition: background 0.3s ease;
    border-radius: 12px;
    cursor:pointer;
}
.backhome:hover{
    background-color: rgb(119, 119, 197);
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-style: italic;
}

/*copyright logo*/
.footer {
    margin-top: 40px;
    color: #555;
    font-size: 14px;
}



